<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <title>Blog</title>
    <style>
     
  .blog-body {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  @media (max-width: 768px) {
    .blog-body p {
      font-size: 1rem;
    }
  }
</style>

    
</head>
<body>
    <%-include('./partials/nav.ejs')%>
    <div class="container">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverImageUrl %>" class="img-fluid rounded my-3" alt="Blog Cover Image">
        <div class="blog-body">

            <pre class="mt-3"><%= blog.body %></pre>
        </div>
    </div>

    <div class="container mt-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_LnhwLXP1Ue8GYWenpakaD7tOQH-kjtRUSA&s" width="50px" alt=""> <%= blog.createdBy.fullName%>
    </div>

    <div class="container mt-4">
        <h1>Commnets (<%= Comment.length %>)</h1>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post">
            <div class="mb-3">
              <input type="text" class="form-control" id="content" aria-describedby="emailHelp" name="content" placeholder="Enter Your Comment">
              <button type="submit" class="btn btn-md btn-primary">Add</button>
            </form>
      <% } %>
      <div class="mt-3">
        <% Comment.forEach(comment => { %>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_LnhwLXP1Ue8GYWenpakaD7tOQH-kjtRUSA&s" width="40px" alt="">:
                <pre>
                    <%= comment.content %>
                </pre>
            </div>
        <% }) %>
      </div>
    </div>

</body>
<%-include('./partials/script.ejs')%>
</html>
